header
{
text-align: center;
width: 100%;
color: white;
background-color: #C2185B;
padding:14px;
}

main 
{
 background-image: url(tulipany.jpg);
 background-size: cover;
 background-position: center;
 height: 500px;
    
}

footer {
      float: left;
      width: 25%;
      background-color: #C2185B;
      color: white;
      height: 240px;
      box-sizing: border-box;
}